body {
  background-color: rgb(235, 235, 235);
}

h2 {
  text-align: center;
  color: grey;
}

.modal {
  width: 50%;
  margin: 0 auto;
}

#mod {
  /* display: none; */
  /* position: fixed; */
  z-index: 999;
}

.users {

}

.users ul {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.user-box {
  transition: all 0.5s ease;
  display: flex;
  border: grey 1px solid;
  padding: 10px;
  overflow-x: auto;
  background-color: white;
  box-shadow: 4px 4px lightgrey;

}

.user-box:hover {
  background-color: grey;
  color: white;
}

.user-pic,
.modal-pic {
  border-radius: 50%;
  flex-basis: 25%;
  padding-top: 5px;
}

.user-info {
  flex-basis: 75%;
  padding-left: 10%;
}

.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
}

.x-close {
  text-align: right;
  margin-top: 5%;
}

.modal-first {
  padding-bottom: 10px;
  border-bottom: grey 1px solid;
  width: 90%;
  text-align: center;
}

.modal-second {
  padding-top: 25px;
  text-align: center;
}

.arrows {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.arrow-left {
  text-align: left;
}

.arrow-right {
  text-align: right;
}
