body {
  background-color: rgb(235, 235, 235);
}

h2 {
  text-align: center;
  color: grey;
}

.modal {

}

#mod {
  display: none;
  /* position: fixed; */
  z-index: 999;
}

.users {

}

.users ul {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.user-box {
  transition: all 0.5s ease;
  display: flex;
  border: grey 1px solid;
  padding: 10px;
  overflow-x: auto;
  background-color: white;
  box-shadow: 4px 4px lightgrey;

}

.user-box:hover {
  background-color: grey;
  color: white;
}

.user-pic {
  border-radius: 50%;
  flex-basis: 25%;
}

.user-info {
  flex-basis: 75%;
  padding-left: 10%;
}
